<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.petshop.mapper.FileMapper">

    <select id="getFile" resultType="com.example.petshop.bean.FileBean">
        SELECT * FROM vedio
        WHERE id = #{id};
    </select>

    <insert id="insertFile" parameterType="com.example.petshop.bean.FileBean">
        INSERT InTO
            vedio(id,fileid,filename)
        values
            (#{id},#{fileid},#{filename});
    </insert>

    <delete id="deleteFile" parameterType="com.example.petshop.bean.FileBean">
        DELETE FROM vedio
        WHERE id = #{id};
    </delete>
</mapper>